[remote "origin"]
    url = git@github.com:huangyingw/efficient_file_scanner.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = origin
    target = 3404ff1b9e572236f89205c8f6d83950bf7406ac
[gdio]
    ignore = ./.gitconfig
    ignore = ./.gitignore
    ignore = ./docker-compose.yml
    ignore = ./exclude_patterns.txt
    ignore = ./find_large_files_with_cache.go
    ignore = ./find_large_files_with_cache.go.sh
    ignore = ./go.mod
    ignore = ./go.sum
    ignore = ./main.go.sh
    ignore = ./readme
[deploy]
    host = server
    path = ~/loadrc/efficient_file_scanner/
