[remote "origin"]
    url = git@github.com:huangyingw/efficient_file_scanner.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = origin
    target = 7896ac267fe9347382282a4c38107d745f0ffc92
[gdio]
    ignore = ./.gitconfig
    ignore = ./.gitignore
    ignore = ./go.mod
    ignore = ./go.sum
    ignore = ./main.go.sh
