[remote "origin"]
    url = git@github.com:huangyingw/efficient_file_scanner.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = origin
    target = e0bd8f4fc4a3cdf6ccd11bf70609f9a74a268638
[gdio]
    ignore = ./.cursorrules
    ignore = ./.gitconfig
    ignore = ./.gitignore
    ignore = ./docker-compose.yml
    ignore = ./exclude_patterns.txt
    ignore = ./find_large_files_with_cache.go
    ignore = ./find_large_files_with_cache.go.sh
    ignore = ./go.mod
    ignore = ./go.sum
    ignore = ./main.go.sh
    ignore = ./readme
[deploy]
    host = localhost
    path = ~/loadrc/efficient_file_scanner/
